html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
}

.invoice-box {
    background-color: #fff;
    color: #2a2a2a;
    font-size: 13px;
    height: auto;
    line-height: 15px;
    margin: 0 auto;
    max-width: 21.5cm;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.items-table td {
    padding: 5px;
    vertical-align: top;
    vertical-align: inherit;
    border-bottom: 1px solid #eee;
}

.items-table th {
    padding: 5px;
    /* color de fondo */
    background: #1e293b;
    color: white;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.cliente {
    padding: 3px;
    /* color de fondo */
    background: #1e293b;
    color: white;
    /* border-bottom: 1px solid #ddd; */
    font-weight: bold;
}


.right {
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-left: auto;
    margin-right: 0;
}


.items-table .total {
    border-top: 2px solid #eee;
    font-weight: bold;
    text-align: right;
}

.w-50 {
    width: 50%;
}

.mt {
    margin-top: 0.5cm;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.options {
    padding: 1rem 0;
    text-align: center;
}

.button {
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #6abe84;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
}

@media print {
    div.saltopagina {
        display: block;
        page-break-before: always;
    }

    .invoice-box {
        margin: 0;
        padding: 0;
    }

    .options {
        display: none;
    }
}

@page {
    margin: 0.8cm;
    /* margin-top: 4cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 3cm; */
}

header {
    /* position: fixed; */
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3.2cm;
}

.headerr {
    /* position: fixed; */
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1.5cm;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3cm;
}